@model LibraryManagementSystem.SharedModels.Models.LoginViewModel

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div id="errorAlert" class="alert alert-danger ml-auto" role="alert" style="width:600px;margin-left:800px;">
        @ViewBag.ErrorMessage
    </div>

    <script>
        // Hide the alert after 7 seconds (7000 milliseconds)
        setTimeout(function () {
            $("#errorAlert").alert('close');
        }, 7000);
    </script>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-controller="Auth" asp-action="Login" method="post" onsubmit="showSpinner()">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-LfSOApX7DLv6Z/hK/P1LF1r15aMScSmB6dR4t8g7L6GgiKc2DOg7OQhxiTgB8IJp" crossorigin="anonymous">

                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>                        
                        <a href="#" class="fa fa-facebook disable-cursor"></a>
                        <a href="#" class="fa fa-twitter disable-cursor"></a>
                        <a href="#" class="fa fa-google disable-cursor"></a>
                        <a href="#" class="fa fa-linkedin disable-cursor"></a>
                        <a href="#" class="fa fa-instagram disable-cursor"></a>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">                        
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label class="form-label" for="form3Example3" asp-for="Email">Email address</label>
                        <input type="email" asp-for="Email" id="form3Example3" class="form-control form-control-lg" placeholder="name@example.com / Enter a valid email address" asp-for="Email" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <label class="form-label" for="form3Example4" asp-for="Password">Password</label>
                        <input type="password" asp-for="Password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password" asp-for="Password" />
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3" style="margin-left:10px;">
                                 Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">

                        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        
                        <!-- this spinner div for the login button -->
                        <div id="loadingSpinner" class="text-center" style="display: none;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>

                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? <a href="@Url.Action("Register", "Auth")" class="link-danger">Register</a>
                        </p>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function showSpinner() {
        // Show the spinner when the form is submitted
        $('#loadingSpinner').show();

        // You may want to disable the submit button to prevent multiple submissions
        $('#submitBtn').prop('disabled', true);
    }
</script>

<!-- Add this script to close the spinner when the data is loaded -->
<script>
    // Assume you have a function to handle the data loading (e.g., using AJAX)
    function handleDataLoading() {
        // Perform the data loading

        // Hide the spinner when the data is loaded
        $('#loadingSpinner').hide();

        // Re-enable the submit button if you disabled it earlier
        $('#submitBtn').prop('disabled', false);
    }
</script>

