@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/themebau/react/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/themebau/react/logo192.png" />
    <link rel="manifest" href="/themebau/react/manifest.json" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
    <title>Themebau | Demo Landing</title>
    @*<script defer="defer" src="/themebau/react/static/js/main.40e08b7a.js"></script>
    <link href="/themebau/react/static/css/main.08587cf8.css" rel="stylesheet" />*@
    <style>
        .animation {
            width: 100px;
            height: 100px;
            background: url(~/Images/Screenshot 2023-12-11 182917.png) left top;
            animation: play-sprite 0.8s steps(4) infinite;
        }
    </style>
</head>
<body>
    <div id="root"></div>

    <div id="homepage-container">
        <div class="text-center" id="homepage">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://onlinebooks.library.upenn.edu/titles.html">Click here</a> to get More information for BulkyBooks.</p>
        </div>
        <div class="text-center">
            <h3>Bulky Books Home Page</h3>
        </div>
        <div class="animation"></div>
        <div class="text-center">
            <img src="~/Images/Screenshot 2023-12-11 182917.png" style="width:80%;animation: play-sprite 0.9s steps(4) infinite;" /><br />
        </div>
        @*<div class="col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate text-center" data-aos="zoom-in" data-aos-delay="200">
        <img src="~/Images/Screenshot 2023-12-11 182917.png" class="img-fluid animated" alt="">
        </div>*@
    </div>

    

    <section class="about-section spad" style="padding-top: 30px;">
        <div class="container">
            <div>
                <p>
                    <h1 style="text-align:center;">
                        Reading at Library Management
                    </h1>
                    <hr />
                </p>
                <p>
                    <h3>Opening Library Doors</h3>
                </p>
                <div>
                    <p>
                        Enter a world of words and sentences, visuals and information. At LibraryManagementSystem, you’ll find books, magazines, digital collections - and above all, a team of experts eager to help you through your journey.
                    </p>
                </div>
            </div>
            <div class="section-title text-center">
                <h1 style="font-size: 36px;">WHAT IS ONLINE LIBRARY MANAGEMENT SYSTEM </h1>
            </div>
            <div class="row">
                <div class="col-lg-6 about-text">
                    <p>Online Library Management System is an <a href="http://www.edigitallibrary.com/library-automation.html" target="_blank">Automated Library System</a> that handles the various functions of the library. It provides a complete solution to the library management software. The online Library Management System is classified into two parts Bar Code System and RFID System. </p>
                    <p>Library plays an important role in all schools and colleges, no educational institution can exist without Library Administration Software. It is an important part of every school and college and it helps the librarian to keep records of available books as well as issued books. Library Management System software helps in different ways by providing students the facility to learn, gather resources, promote group learning and improve knowledge and skills.</p>
                    <h3 style="font-size: 15px;">Features of Online Library Management System</h3>
                    <ul class="about-list">
                        <li><i class="fa fa-check-square-o"></i> Integration of all records of students</li>
                        <li><i class="fa fa-check-square-o"></i> Manage the records systematically</li>
                        <li><i class="fa fa-check-square-o"></i> It can track any information online</li>
                        <li><i class="fa fa-check-square-o"></i> One can generate the reports</li>
                        <li><i class="fa fa-check-square-o"></i> Manage all information online</li>
                        <li><i class="fa fa-check-square-o"></i> Easy to maintain records</li>
                        <li><i class="fa fa-check-square-o"></i> It leads to fast book entry</li>
                    </ul>
                    <p>The demand for Library Automation Software in India is increasing day by day with the advancement of the system. As we all are living in the digital age, everyone prefers quick and accurate service. Almost all schools and colleges prefer the Library Management System due to the organized and systematic management of the database. College Library Software helps the students to prepare their projects easily and in less time. It also helps in preparing notes and assignments.</p>
                    <p>Library Management System helps the students in better learning by providing quick access to the library system. With Advance Library Software they can easily find books, catalogs, magazines of their interest. The library is a great place to study and make notes which ultimately help in scoring a good score.</p>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <img src="~/Images/Screenshot 2023-12-11 182917.png" alt="Barcode System" style=" width:650px;height:auto">
                </div>
            </div>
        </div>
    </section>
    <section class="about-section spad" @*style="background-color: #f8f8f8; border-top: solid 1px #ccc;"*@>
        <div class="container">
            <div class="section-title text-center">
                <h2>Advantages of Online Library Management System</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 about-text">
                    <p>Advantages of Online Library Management System are:</p>
                    <ul class="about-list">
                        <li><i class="fa fa-check-square-o"></i> It is user-friendly software</li>
                        <li><i class="fa fa-check-square-o"></i> It is cost-effective and easy to install</li>
                        <li><i class="fa fa-check-square-o"></i> It helps in maintaining records</li>
                        <li><i class="fa fa-check-square-o"></i> One can track any information through this system</li>
                        <li><i class="fa fa-check-square-o"></i> It increases the efficiency </li>
                        <li><i class="fa fa-check-square-o"></i> It saves human effort and time</li>
                        <li><i class="fa fa-check-square-o"></i> It reduces the chances of error</li>
                        <li><i class="fa fa-check-square-o"></i> It acts as an anti-theft</li>
                    </ul>
                    <p>As discussed, the Online Library Management System is categorized into two parts bar code system and RFID system. In a bar code system, books a unique bar code number is assigned to every book and with the help of a bar code reader, we can check the status of the book like when it is issued and returned. While RFID based library management system is a wireless-based system which helps in easy maintenance of records, which reduces the burden of a librarian and lead to fast-tracking of record.</p>
                    <p>Library Management System stores every information electronically and in an organized and systematic way which leads to effective results. It enhances the overall performance of the students and develops the habit of silent reading. The software is designed in such a way that it modernize the library system and help the students to make the best use of the Library Automation System.</p>

                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <img src="~/Images/Screenshot 2023-12-11 183106.png" alt=" " style=" width:650px;height:auto">
                </div>
            </div>
        </div>
    </section>
    <section class="about-section spad" @*style="background-color: #fff; border-top: solid 1px #ccc;"*@>
        <div class="container">
            <div class="section-title text-center">
                <h2>Digital RFID Library Management Software</h2>
            </div>
            <div class="row">
                <div class="col-lg-6 about-text">
                    <p>Library Management System is designed in such a way that it keeps the functioning of the library smooth and in order. It is user-friendly software. It helps in keeping track of the books, catalogues, magazines, etc. This system increases the efficiency of the librarian and better management of the library. It leads to an easy search of the desired book from the library.</p>
                    <p>Some of the features of the <a href="http://www.elibrarysoftware.com/rfid-system.html">Digital RFID Library Management Software</a> are:</p>
                    <ul class="about-list" style="margin-top: -18px;">
                        <li><i class="fa fa-check-square-o"></i> Easy way to enter book data</li>
                        <li><i class="fa fa-check-square-o"></i> Full catalogue, circulation, and acquisition system for library stock management</li>
                        <li><i class="fa fa-check-square-o"></i> Web-based OPAC (Online Public Access Catalogue) system</li>
                        <li><i class="fa fa-check-square-o"></i> Simple, clear search interface for all users</li>
                        <li><i class="fa fa-check-square-o"></i> Multilingual and multi-user support</li>
                        <li><i class="fa fa-check-square-o"></i> Export and import records</li>
                        <li><i class="fa fa-check-square-o"></i> A modern integrated library management system</li>
                        <li><i class="fa fa-check-square-o"></i> Print own barcodes</li>
                    </ul>
                    <p>As we have already discussed the library management system is based on two techniques Bar Code System and RFID System.  The bar code system is based on unique bar codes provided to each and every book; it contains all the information about the product. RFID based library management system is a wireless-based system which helps in keeping records in an easy manner. It acts as an anti-theft system, which provides whole security to the Library Management System, there is a facility of alarm system which gets active on stealing of any book from the library.</p>

                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <img src="~/Images/Screenshot 2023-12-11 183106.png" alt="" style=" width:650px;height:auto">
                </div>
            </div>

            <!-- ngInclude: 'include/also-read.html' --><div ng-include="'include/also-read.html'" class="ng-scope">
                <p style="font-weight: bold; margin-top: 15px;" class="ng-scope"> Also Read Know: </p>
                <div class="about-text ng-scope" style="margin-top: -10px; margin-bottom: 20px; margin-left: 5px;">
                    <ul class="about-list">
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/what-online-library-management-system.html">What Is Online Library Management System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/school-library-managment.html">School Library Management System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/digital-library-management-software.html">Digital Library Management Software</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/library-automation-system.html">Library Automation System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/barcoding-system.html">Barcoding System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/rfid-system.html">RFID System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/radio-frequency-identification.html">RFID – Radio Frequency Identification</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/functions-of-the-digital-library-software.html">What Are the Top Functions of the Digital Library Software</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/how-library-automation-software-works.html">How Library Automation Software Works in the Library</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/latest-technology-used.html">Latest Technology used in Library Management System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/best-library-management-software.html">Best Library Management Software</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.edigitallibrary.com/why-library-management-system-is-important.html" target="_blank">Why Library Management System</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.edigitallibrary.com/what-is-digital-library-software.html" target="_blank">What is digital library software</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.edigitallibrary.com/what-is-online-library-system.html" target="_blank">What is the online library system</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.edigitallibrary.com/which-is-the-best-library-software.html" target="_blank">Which is the best library software</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/library-catalogue-system.html">What is the library catalogue system</a></li>
                        <li><i class="fa fa-hand-o-right"></i> <a class="text-link" href="http://www.elibrarysoftware.com/difference-between-opac-and-web-opac.html">Difference between OPAC and Web OPAC</a></li>
                    </ul>
                </div>
            </div>
        </div>




    </section>
    <section class="module-cms">
        <div class="container">
            <div class="text-center pro-sub-heading">
                <h2 class="">Modules of Library management system software </h2>
                <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" class="img-fluid" alt="section-heading" style=" width:650px;height:auto">
            </div>
            <div class="row prod-feature-sec margin-btm-20">
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="Mobile-Based-Application" width="64" height="64"><h3><a href="/library-management-system/acquisition-and-cataloguing/">Acquisition &amp; Cataloguing</a></h3>
                        <p>The acquisition &amp; cataloguing module of the library management system enables the librarian to select &amp; buy books, journals, and other resources and create a database of the same for easy book search.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box ">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="Online-Exams-Proctoring" width="64" height="64"><h3><a href="/library-management-system/serial-control/">Serial Control</a></h3>
                        <p>The serial control module of the library software enables the librarians to handle or control processes such as subscription, renewals of books or their cancellations and generate accurate <a href="https://www.iitms.co.in/blog/why-MIS-reports-are-important-for-educational-institutions.html" target="_blank"><strong>MIS reports</strong></a>.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="Virtual-Classroom-Integration" width="64" height="64"><h3><a href="/library-management-system/circulation/">Circulation</a></h3>
                        <p>The circulation module enables the librarian to create and manage borrower types along with keeping a tab on their book issue date, return date, dues, and fines. It enables a smooth circulation of books in the library.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box ">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="Track-Manage-Daily-Activities" width="64" height="64"><h3><a href="/library-management-system/mis-reports/">MIS Reports</a></h3>
                        <p>Management information systems or MIS reports related to the library allow the librarians to extract crucial data &amp; information of all the library transactions at a few clicks. Accurate MIS reports fostering better decision-making.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box ">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="E-Library-With-Vast-Content" width="64" height="64"><h3><a href="/library-management-system/online-public-access-catalogue/">OPAC</a></h3>
                        <p><a href="https://www.iitms.co.in/library-management-system/online-public-access-catalogue/" target="_blank"><strong>Online Public Access Catalogue</strong></a> or OPAC is a digital catalogue that enables the users to search for books, journals, or any other material by entering keywords such as the name of the book, its title, author’s name, etc.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-3">
                    <div class="feature-box">
                        <img loading="lazy" src="~/Images/Screenshot 2023-12-11 183106.png" alt="Advance-Analysis-Feedback" width="64" height="64"><h3><a href="/mopac-library-management-app.html">M-OPAC</a></h3>
                        <p>Mobile - Online Public Access Catalogue or M-OPAC is a mobile-based smartphone app that enables users to search for any book via their smartphones by entering keywords such as author’s name, title, etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>




@*@{
    ViewData["Title"] = "Home Page";
}

<div id="homepage-container">
    <div class="text-center" id="homepage">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://onlinebooks.library.upenn.edu/titles.html">Click here</a> to get More information for BulkyBooks.</p>
    </div>
    <div class="text-center">
        <h3>Bulky Books Home Page</h3>
    </div>
    <div class="text-center">
        <img src="~/Images/Screenshot 2023-12-11 182917.png" style="width:100%;" /><br />
    </div>
</div>
<div>
    <p>
        <h1 style="text-align:center;">
            Reading at Library Management
        </h1>
        <hr />
    <p>
        <h3>Opening Library Doors</h3>
    </p>
    <div>
        <p>
            Enter a world of words and sentences, visuals and information. At LibraryManagementSystem , you’ll find books, magazines, digital collections - and above all, a team of experts eager to help you through your journey.
        </p>
    </div>
    </p>
</div>
*@







@*<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/themebau/react/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="/themebau/react/logo192.png" />
    <link rel="manifest" href="/themebau/react/manifest.json" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet" />
    <title>Themebau | Demo Landing</title>
    <script defer="defer" src="/themebau/react/static/js/main.40e08b7a.js"></script>
    <link href="/themebau/react/static/css/main.08587cf8.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
</body>
</html>*@





 
